.todo-card {
  transition: all 1s;
  width: 100%;
  background-color: white;
  height: 90px;
  border-radius: 17px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.3%;
  flex-wrap: wrap;

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

    .date {
      font-size: 9px;
      letter-spacing: 0.5px;
      margin-bottom: 0px;
      padding-bottom: 3px;
      color: grey;
    }

    .name {
      font-size: 13px;
      color: black;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    .delete {
      background-color: #f5222d;
      color: white;
      margin-right: 10px;
    }
    .cancel {
      background-color: #f5222d;
      color: white;
      margin-right: 10px;
    }
    .edit {
      margin-right: 10px;
    }
    .done {
      background-color: #52c41a;
      color: white;
      margin-right: 10px;
    }
  }
}

.todo-card-canceled {
  width: 100%;
  background-color: #f5222d;
  height: 90px;
  border-radius: 17px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.3%;
  flex-wrap: wrap;

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

    .date {
      font-size: 9px;
      letter-spacing: 0.5px;
      margin-bottom: 0px;
      padding-bottom: 3px;
      color: white;
    }

    .name {
      font-size: 13px;
      color: white;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    .delete {
      background-color: white;
      color: #f5222d;
      margin-right: 10px;
    }
    .cancel {
      display: none;
    }
    .edit {
      display: none;
    }
    .done {
      display: none;
    }
  }
}

.todo-card-done {
  width: 100%;
  background-color: #52c41a;
  height: 90px;
  border-radius: 17px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.3%;
  flex-wrap: wrap;

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

    .date {
      font-size: 9px;
      letter-spacing: 0.5px;
      margin-bottom: 0px;
      padding-bottom: 3px;
      color: white;
    }

    .name {
      font-size: 13px;
      color: white;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    .delete {
      background-color: white;
      color: #f5222d;
      margin-right: 10px;
      border: none;
    }
    .cancel {
      display: none;
    }
    .edit {
      display: none;
    }
    .done {
      display: none;
    }
  }
}
