@import "../Assets/SCSS/Variables.scss";
.ItemCard {
  .img {
    display: flex;
    justify-content: center;
    @media only screen and (min-width: 768px) {
      img {
        width: 350px;
        height: 200px;
      }
    }
  }
  .caption {
    text-align: center;
    color: $DP;
    font-weight: bold;
    font-size: larger;
  }
  .name {
    text-align: center;
    color: gray;
    font-weight: 600;
    font-size: 14px;
  }
  @media only screen and (min-width: 992px) {
    .description {
      text-align: left;
      color: gray;
      padding: 0px 10%;
      padding-bottom: 20px;
      font-size: 13px;
    }
  }

  @media only screen and (max-width: 992px) {
    .description {
      text-align: left;
      color: gray;
      padding: 0px 3%;
      padding-bottom: 20px;
      font-size: 13px;
    }
  }

  @media only screen and (max-width: 767px) {
    .description {
      text-align: center;
      color: gray;
      padding: 0px 0%;
      padding-bottom: 20px;
      font-size: 13px;
    }
  }
}
