.todo-container {
  margin: 0px 15%;
  background-color: white;
  height: 70vh;
  border-radius: 30px;
  .todoItems-container {
    margin: 0px 4%;
    padding-top: 4%;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    overflow: scroll !important;
    height: 90%;
  }
  .add-todoItem {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .add-btn {
      margin-top: 3px;
      background-color: #52c41a;
      color: white;
    }
  }
  .todoItems-container::-webkit-scrollbar {
    display: none;
  }
}
.todo-header {
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding-top: 3%;
  color: rgb(75, 73, 73);
  font-size: 40px;
  margin-bottom: 1%;
}
