.AddTodoModal {
  .ant-modal-content {
    border-radius: 17px !important;
  }
  input {
    border-radius: 10px;
    border: none;
    background-color: rgb(238, 238, 238);
    color: rgb(116, 114, 114);
  }
  .AddTodo {
    display: flex;
    .input {
      width: 100%;
      margin-right: 40px;
    }
    .buttons {
      display: flex;
      .cancel {
        background-color: #ffccc7;
        border: none;
        color: #f5222d;
        border-radius: 12px;
        height: 30px;
        width: 100px;
        font-size: 13px;
        margin-right: 10px;
      }
      .done {
        background-color: #d9f7f2;
        border: none;
        color: #13c2c2;
        border-radius: 12px;
        height: 30px;
        width: 100px;
        font-size: 13px;
      }
    }
  }
}
