@import "../../Assets/SCSS/Variables.scss";
.CircleProgress {
  width: 200px;
  height: 90px;
  position: absolute;
  top: 10%;

  @media only screen and (max-width: 1215px) {
    width: 200px;
    height: 90px;
    position: absolute;
    top: 6%;
  }
  @media only screen and (max-width: 992px) {
    width: 170px;
    height: 90px;
    position: absolute;
    top: 2%;
  }

  @media only screen and (max-width: 767px) {
    width: 200px;
    height: 90px;
    position: absolute;
    top: 12%;
  }

  @media only screen and (max-width: 714px) {
    width: 200px;
    height: 90px;
    position: absolute;
    top: 6%;
  }

  @media only screen and (max-width: 508px) {
    width: 200px;
    height: 90px;
    position: absolute;
    top: 1%;
  }
  @media only screen and (max-width: 474px) {
    width: 180px;
    height: 90px;
    position: absolute;
    top: 1%;
  }
  @media only screen and (max-width: 417px) {
    width: 165px;
    height: 90px;
    position: absolute;
    top: 1%;
  }
  .caption {
    align-items: center;
    border-radius: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 70%;
    .one {
      color: $LP;
      font-size: 33px;
      font-weight: 600;
    }
    .second {
      font-size: 15px;
      color: black;
      letter-spacing: 1px;
    }
    .third {
      font-size: 12px;
      font-weight: 500;
      color: $GR;
    }
    .fourth {
      font-size: 20px;
      font-weight: 600;
      color: $GR;
    }
  }
}
