@import "../Assets/SCSS/Variables.scss";
.Items-Container {
  border-radius: 20px;
  .cart-res {
    display: none;
  }
  @media only screen and (max-width: 767px) {
    .cart-res {
      display: block;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .actions-cart2 {
        display: flex;
        width: 120px;
        button {
          border: none;
          width: 25px;
          font-weight: 500;
          height: 25px;
          font-size: small;
          background-color: $LP;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 10%;
        }
        .counter {
          font-weight: 600;
          font-size: large;
          color: $LP;
        }
        justify-content: space-between;
      }
      .show {
        background-color: $LP;
        font-weight: 500;
        border: none;
        color: white;
        font-size: 15px;
        width: 120px;
        padding: 3px 7px;
      }
    }
  }

  .top-middle-col {
    display: flex;
    justify-content: center;
  }
  .price-container {
    display: flex;

    .price-3d {
      width: 10px;
      margin-left: -27px;
      margin-top: 20px !important;
      height: 40px;
      background-color: $DP;
      transform: skew(0deg, 40deg);
    }

    .price {
      color: white;
      width: 170px;
      height: 40px;
      z-index: 2;
      background-color: $LP;
      font-weight: bold;
      font-size: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: -10px;
    }
    @media only screen and (max-width: 767px) {
      .price-3d {
        width: 10px;
        margin-left: -27px;
        margin-top: 75px !important;
        height: 40px;
        background-color: $DP;
        transform: skew(0deg, 40deg);
      }

      .price {
        color: white;
        width: 165px;
        height: 40px;
        margin-top: 70px !important;
        z-index: 2;
        background-color: $LP;
        font-weight: bold;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -10px;
      }
    }
  }

  .Item-Position {
    display: flex;
    justify-content: center;
  }
  @media only screen and (min-width: 768px) {
    .actions {
      margin-top: 70px;
      text-align: right;
      .Like {
        background-color: $DP;
        height: 35px;
        width: 35px;
        border: none;
        color: white;
        font-size: 17px;
        border-radius: 7px;
      }
      .cart {
        margin-top: 15px;
        background-color: $LP;
        height: 35px;
        width: 35px;
        border: none;
        color: white;
        font-size: 17px;
        border-radius: 7px;
      }
    }
  }
  @media only screen and (max-width: 767px) {
    .actions {
      display: none;
    }
  }

  @media only screen and (min-width: 768px) {
    .res-actions {
      display: none;
    }
  }

  @media only screen and (max-width: 767px) {
    .res-actions {
      text-align: right;
      .Like {
        background-color: $DP;
        height: 35px;
        width: 35px;
        border: none;
        color: white;
        font-size: 17px;
        border-radius: 7px;
        margin-right: 10px;
      }
      .cart {
        background-color: $LP;
        height: 35px;
        width: 35px;
        border: none;
        color: white;
        font-size: 17px;
        border-radius: 7px;
      }
    }
  }

  @media only screen and (max-width: 410px) {
    .res-actions {
      text-align: right;
      .Like {
        background-color: $DP;
        height: 30px;
        width: 30px;
        border: none;
        color: white;
        font-size: 17px;
        border-radius: 7px;
        margin-right: 10px;
      }
      .cart {
        background-color: $LP;
        height: 30px;
        width: 30px;
        border: none;
        color: white;
        font-size: 17px;
        border-radius: 7px;
      }
    }
  }
  .half-circle {
    position: relative;
    left: 0%;
    z-index: -1;
    top: 0%;
    height: 250px;
    width: 120px;
    border-radius: 0px 200px 200px 0px;
    background-color: $DP;
    .plus {
      background-color: $LP;
      color: red;
    }
    .qunatity {
      display: flex;
      flex-direction: column;
      height: 100%;
      color: white;
      justify-content: center;
      text-align: center;
      padding-left: 50%;
    }
  }
}
