/* @media only screen and (min-width: 768px) {

  .App {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
  }
  }
  */
@media only screen and (min-width: 768px) {
  .App {
    margin-top: 10%;
  }
}

@media only screen and (max-width: 767px) {
  .App {
    margin-top: 20%;
  }
}
